.main .cards {
  width: 75%;
  margin: 0 auto;
}
.main .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  padding: 0 70px 30px;
  background: linear-gradient(180deg, rgba(130, 87, 230, 0.2) -17.67%, rgba(232, 63, 136, 0.3) 118.51%);
  border-radius: 15px;
  margin-bottom: 60px;
  border: 2px solid;
  -o-border-image: linear-gradient(90deg, rgba(10, 0, 10, 0), #7953d3, rgba(10, 0, 10, 0)) 1;
     border-image: linear-gradient(90deg, rgba(10, 0, 10, 0), #7953d3, rgba(10, 0, 10, 0)) 1;
  border-left: 0;
  border-right: 0;
}
.main .cards .card h3 {
  background: linear-gradient(180deg, rgb(121, 83, 211), #c853d3 65%, #e83f88);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 30px;
}
.main .cards .card img:first-child {
  margin: 20px 0;
  max-width: 100%;
  border-radius: 10px;
}
.main .cards .card div p {
  text-align: justify;
  color: rgb(230, 220, 230);
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 10px;
  margin-bottom: 10px;
}
.main .cards .card div p:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (min-width: 1900px) {
  .main .cards {
    width: 90%;
  }
  .main .cards .card h3 {
    font-size: 2rem;
  }
  .main .cards .card div p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .main .cards .card div p img {
    height: 40px;
  }
}
@media (max-width: 1050px) {
  .main .cards .card {
    padding: 0 40px 30px;
  }
  .main .cards .card h3 {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  .main .cards {
    width: 90%;
  }
  .main .cards .card {
    padding: 0px 20px 20px;
    margin-bottom: 30px;
  }
  .main .cards .card h3 {
    font-size: 1.1rem;
    margin-top: 15px;
  }
  .main .cards .card div p {
    font-size: 0.7rem;
    line-height: 1.1rem;
    gap: 5px;
  }
  .main .cards .card div p:first-child {
    margin-bottom: 10px;
  }
  .main .cards .card div p:last-child img {
    height: 20px;
  }
}