@import 'vars';

.main {
  .cards {
    width: 75%;
    margin: 0 auto;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1700px;
      padding: 0 70px 30px;
      background: $primary-gradient;
      border-radius: 15px;
      margin-bottom: 60px;
      border: 2px solid;
      border-image: linear-gradient(90deg,rgba(10, 0, 10, 0),#8257e6,rgb(10, 0, 10, 0)) 1;
      border-left: 0;
      border-right: 0;

      h3 {
        background: $secondary-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        font-family: $description;
        font-weight: 500;
        margin-top: 30px;
      }

      img:first-child {
        margin: 20px 0;
        max-width: 100%;
        border-radius: 10px;
      }

      div {
        p {
          text-align: justify;
          color: $secondary-color;
          font-size: 0.9rem;
          font-family: $description;
          font-weight: 400;
          line-height: 1.1rem;
          padding: 0 10px;
          margin-bottom: 10px;

        }
        
        p:last-child {
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
        }

      }
    }
  }
}

@media (min-width: 1900px) {
  .main {
    .cards {
      width: 90%;

      .card {

        h3 {
          font-size: 2rem;
        }

        div p {
          font-size: 1.4rem;
          line-height: 2rem;

          img {
            height: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .main {
    .cards {
      .card {
        padding: 0 40px 30px;

        h3 {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .main {
    .cards {
      width: 90%;

      .card {
        padding: 0px 20px 20px;
        margin-bottom: 30px;

        h3 {
          font-size: 1.1rem;
          margin-top: 15px;
        }

        div {
          p {
            font-size: 0.7rem;
            line-height: 1.1rem;
            gap: 5px;
          }

          p:first-child {
            margin-bottom: 10px;
          }

          p:last-child {

            img {
              height: 20px;
            }
          }
        }
      }
    }
  }
}
