$primary-gradient: linear-gradient(180deg,rgba(130,87,230,.2) -17.67%,rgba(232, 63, 136, 0.3) 118.51%);
$secondary-gradient: linear-gradient(180deg,rgb(121, 83, 211),#c853d3 65%,#e83f88);
$primary-color:#8257e6;
$secondary-color: rgb(230, 220, 230);
$description: 'Montserrat', sans-serif;