@import 'vars';

.header {
  margin-top: 30px;

  .stain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 400px;
    transform: rotateY(180deg);
  }

  .avatar {
    font-family: $titles;
    text-align: center;

    img {
      width: 200px;
      border-radius: 50%;
      box-shadow: 0 0 20px $primary-color;
      background: $primary-gradient;
    }

    h1 {
      font-size: 2.4rem;
      margin: 20px 0 10px;

      background: $secondary-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 1.2rem;
      color: $secondary-color;
    }
  }

  .links {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    width: 40%;

    img {
      height: 30px;
    }
  }
}

@media (min-width: 1900px) {
  .header {
    .stain {
      width: 600px;
    }

    .avatar {
      img {
        width: 300px;
      }

      h1 {
        font-size: 4rem;
      }

      h2 {
        font-size: 2rem;
      }
    }

    .links {
      img {
        height: 50px;
        margin: 30px 0;
      }
    }
  }
}

@media (max-width: 820px) {
  .header {
    .stain {
      width: 300px;
    }
  }
}

@media (max-width: 640px) {
  .header {
    .avatar {
      img {
        width: 150px;
      }

      h1 {
        font-size: 2rem;
      }
  
      h2 {
        font-size: 1rem;
      }
    } 

    .stain {
      width: 200px;
    }
  }

}

@media (max-width: 440px) {
  .header {
    .stain {
      width: 130px;
    }

    .avatar {
      img {
        width: 120px;
      }

      h1 {
        font-size: 1.9rem;
      }

      h2 {
        font-size: 0.9rem;
      }
    }

    .links {
      margin: 20px auto;
      width: 70%;

    }
  }
}
